<p-table *ngIf="this.watchingStockLists" [value]="this.watchingStockLists" [paginator]="watchingStockLists.length > 10"
  [rows]="10" [rowsPerPageOptions]="[10, 20]">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name" />
      </th>
      <th pSortableColumn="symbol">
        Symbol <p-sortIcon field="symbol" />
      </th>
      <th pSortableColumn="price">
        Price <p-sortIcon field="price" />
      </th>
      <th pSortableColumn="prediction">
        Predicition <p-sortIcon field="prediction" />
      </th>
      <th pSortableColumn="shares">
        Shares <p-sortIcon field="shares" />
      </th>
      <th>Note</th>
      <th>Last Update</th>
      <th>Options</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-watchingStockList>
    <tr>
      <td>
        {{watchingStockList.name}}
      </td>
      <td>{{watchingStockList.symbol}}</td>
      <td>{{watchingStockList.price}}</td>
      <td>{{watchingStockList.prediction}}</td>
      <td>
        <div class="container align-items-center">
          <p>{{watchingStockList.shares}}</p>
          <p-button icon="pi pi-pencil" [rounded]="true" [text]="true"
            (onClick)="redirectToSharesScreen(watchingStockList.symbol)" />
        </div>
      </td>
      <td>
        <div class="container align-items-center">
          <p>{{watchingStockList.note}}</p>
          <p-button icon="pi pi-pencil" [rounded]="true" [text]="true"
            (onClick)="openStockNoteDialog(watchingStockList.symbol, watchingStockList.note)" />
        </div>
      </td>
      <td>{{watchingStockList.lastUpdate | date}}</td>
      <td>
        <p-button icon="pi pi-search" [rounded]="true" [text]="true" [routerLink]="['/', 'stocks', 'information']"
          [queryParams]="{ stockSymbol: watchingStockList.symbol}" />
        <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"
          (onClick)="removeListStock(watchingStockList.symbol)" />
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog header="Edit Note" [modal]="true" [(visible)]="visibleDialog">
  <div class="container flex-column gap-1">
    <div class="container align-items-center gap-1">
      <label for="note" class="font-semibold w-6rem">Note: </label>
      <input [value]="note" pInputText id="note" class="flex-auto" autocomplete="off" [(ngModel)]="note" />
    </div>
    <div class="container justify-space-between gap-1">
      <p-button label="Cancel" severity="secondary" (onClick)="visibleDialog = false" />
      <p-button label="Save" (onClick)="updateStockNote()" />
    </div>
  </div>
</p-dialog>