<div class="signup-container">
    <h2>Sign Up</h2>
    <form (ngSubmit)="createUser()" #registrationForm="ngForm">
        <div class="form-group">
            <label for="name">First Name</label>
            <input pInputText type="text" id="firstName" placeholder="Enter your name" required name="firstName" ngModel>
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <input pInputText type="text" id="lastName" placeholder="Enter your name" required name="lastName" ngModel>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input pInputText type="email" id="email" placeholder="Enter your email" required email name="email" ngModel>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input pInputText type="password" id="password" placeholder="Enter your password" required name="password" ngModel>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input pInputText type="password" id="confirm-password" placeholder="Confirm your password" required name="repeatPassword" ngModel>
        </div>
        <button type="submit" class="btn-primary">Sign Up</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
</div>