.p-datatable {
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.p-datatable-tbody>tr:hover {
    background-color: #e1f0fa;
}