.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
}

.sidebar {
    padding: 1rem 0 1rem 1rem;
}

.content {
    padding: 1rem 1rem 1rem 0;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
}