<div class="grid-container">
    <div class="sidebar">
        <p-panel header="Stock Symbols">
            <div class="container flex-column gap-2">
                <p-button (click)="openNoteDialog()">+</p-button>
                <p-listbox *ngIf="stockSymbols.length > 0" [options]="stockSymbols" [(ngModel)]="selectedStockSymbol" optionLabel="trendName">
                    <ng-template let-stockSymbol pTemplate="item">
                        <span>{{ stockSymbol }}</span>
                    </ng-template>
                </p-listbox>
            </div>
        </p-panel>
    </div>
    <div class="content">
        <p-panel header="Notes">
            <p *ngIf="selectedStockSymbol == undefined">
                Please choose a stock symbol
            </p>
            <div *ngIf="user !== undefined && selectedStockSymbol != undefined" class="container flex-column gap-2">
                <div class="container gap-2">
                    <p-button (click)="addNoteToSymbol()">Add Note</p-button>
                    <p-button (click)="openStockChart()">Chart</p-button>
                </div>
                <p-table [value]="user!.userStockNotesBySymbol[selectedStockSymbol]"
                    [paginator]="user!.userStockNotesBySymbol[selectedStockSymbol].length > 5" [rows]="5"
                    [rowsPerPageOptions]="[5, 10]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="note">
                                Note <p-sortIcon field="note" />
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-stockNote>
                        <tr>
                            <td>{{stockNote.note}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-panel>
    </div>
</div>
<p-dialog header="Add Note" [modal]="true" [(visible)]="visibleDialog">
    <div class="container flex-column gap-1">
        <div *ngIf="visibleStockSymbol" class="container align-items-center gap-1">
            <label for="note" class="font-semibold w-6rem">Stock Symbol: </label>
            <input [value]="stockSymbol" pInputText id="note" class="flex-auto" autocomplete="off"
                [(ngModel)]="stockSymbol" />
        </div>
        <div class="container align-items-center gap-1">
            <label for="note" class="font-semibold w-6rem">Note: </label>
            <input [value]="note" pInputText id="note" class="flex-auto" autocomplete="off" [(ngModel)]="note" />
        </div>
        <div class="container justify-space-between gap-1">
            <p-button label="Cancel" severity="secondary" (onClick)="visibleDialog = false" />
            <p-button label="Add" (onClick)="updateUserNote()" />
        </div>
    </div>
</p-dialog>